<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h5>My fruits</h5>
    <ul>
        {% for fruit in fruits %}
        <li>{{ fruit }}</li>
        {% endfor %}
    </ul>
    <br>
    <form method="post" action="{{ url_for('add_fruits')}}">
        <input type="text" name="fruit" placeholder="Enter a fruit">
        <input type="submit" value="Add fruit">
    </form>
</body>
</html>