<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h5>My fruits</h5>
      {% if fruits %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Color</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for fruit in fruits %}
                <tr>
                    <td>{{ fruit.name }}</td>
                    <td>{{ fruit.color }}</td>
                    <td>{{ fruit.price }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
       {% else %}
       <p>No fruits available yet! please add some fruits</p>
       {% endif %}
    <br>
    <form method="post" action="{{ url_for('add_fruits')}}">
        <input type="text" name="name" placeholder="Enter a fruit">
        <input name="color" type="text" placeholder="Enter a fruit color">
        <input name="price" type="number" placeholder="0">
        <input type="submit" value="Add fruit">
        <!-- <button type="submit">Add fruit</button> -->
    </form>
</body>
</html>